{% extends 'base.html' %}
{% block content %}
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/static/img/hero.jpg">
    </div>
    
    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                Photos
            </h2>
        </div>
        <div class="row tm-mb-90 tm-gallery">
        {% for upload in uploads %}
        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="media/{{ upload.image }}" alt="Image" class="img-fluid">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{ upload.title }}</h2>
                        <a href="{{ upload.slug }}">{{upload.title}}</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between">
                    <span class="tm-text">By <strong>{{ upload.author.username }}</strong></span>
                    {% for tag in upload.tags.all %}
                        <span><a href="{% url 'tagged' tag.slug %}">#{{ tag }}</a></span>
                    {% endfor %}
                </div>
            </div>
                
        {% endfor %}
        </div>
    </div>

{% endblock content %}


<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
    <figure class="effect-ming tm-video-item">
        <img src="img/img-04.jpg" alt="Image" class="img-fluid">
        <figcaption class="d-flex align-items-center justify-content-center">
            <h2>Plants</h2>
            <a href="photo-detail.html">View more</a>
        </figcaption>                    
    </figure>
    <div class="d-flex justify-content-between tm-text-gray">
        <span class="tm-text-gray-light">14 Oct 2020</span>
        <span>16,100 views</span>
    </div>
</div>