{% extends 'base.html' %}
{% block content %}

<div class="pb-2 pt-4 pr-4 pl-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Image</label><br>
                        <input type="file" name="image" class="form-control-file" id="image" accept="image/*" required>
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Add title" required maxlength="40" id="id_title">
                    </div>
                    <div class="form-group">
                        <label>Tags</label>
                        <input type="text" data-role="tagsinput" id="id_tags" class="form-control" name="tags">
                        <span class="helptext">A comma-separated list of tags.</span>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
                </form>  
            </div>
        </div>
    </div>
</div>

{% endblock %}
