{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-5 mb-5">
            <div class="card-header"><h3 class="text-center font-weight-light">Register</h3></div>
            <div class="card-body">
                <form class="form-signin" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <div class="small"><a href="/login/">Already an account? Login!</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
